@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* General styles */
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}
button {
  cursor: pointer;
}

/* Navigation Styles */
nav {
  width: 100%;
  padding: 1rem;
}

#logo {
  width: 8rem;
}

/* Form Styles */
#search-field {
  width: 30rem;
  padding: 0.5rem;
}
#search-field:hover {
  border: 1px solid blue;
}
#search-btn {
  padding: 0.5rem;
  width: 5rem;
  background: #d3d3d3;
}
#search {
  width: 1rem;
}

.icons {
  margin-right: 1.5rem;
  width: 24px;
}
#avatar {
  margin-right: 0;
}

/*Main Styles */
#main-container {
  padding: 2rem 6rem;

  display: flex;
  justify-content: space-between;
}

/* Video-container */
#video-section-wrapper {
  width: 70%;
}

#video-container {
  border: 1px solid green;
  width: 100%;
  height: 32rem;
}
#video-container iframe {
  width: 100%;
  height: 100%;
}
#views {
  color: grey;
  font-size: 0.9rem;
}
time {
  margin-left: 0.3rem;
}
#share {
  border: 0;
}

#title-container {
  border-bottom: 0.5px solid grey;
  padding-bottom: 0.9rem;
}

#title-container h1 {
  font-weight: 500;
}

#profile-icon {
  background: greenyellow;
  border-radius: 50%;
  padding: 0.9rem;
  margin-right: 1rem;
}
#subscribe-btn {
  padding: 0.6rem 1.3rem;
  background-color: #c00;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0.5rem;
  border: 0;
}
#tags-videos {
  padding: 0 3.2rem;
  margin-top: 1rem;
  font-size: 1rem;
}
#video-description {
  margin: 1.2rem 0;
}
#show {
  color: grey;
  display: block;
  margin-top: 1rem;
  text-transform: uppercase;
  padding-left: 3.2rem;
}

/* aside styles */
aside {
  width: 28%;
}
#aside-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.thumbnail-container {
  margin-bottom: 0.4rem;
}
.thumbnail-description {
  margin-left: 1rem;
  margin-top: 0;
}

.thumbnail-title {
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 0;
}
.thumbnail-text {
  font-size: 0.8rem;
  color: grey;
}
p img {
  margin-left: 1rem;
}
#first-video {
  border-bottom: 1px solid grey;
  padding-bottom: 0.6rem;
}
